@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

<<<<<<< HEAD
* {
  /* background-color: #ffffff; */
=======
/* * {
  background-color: #ffffff;
} */
@utility vip_header {
  @apply font-bold text-4xl text-[#3d3d3d];
}
@utility vip_description {
  @apply font-normal text-[16px] text-[#666666];
}
@utility ads_card {
  @apply font-normal text-[16px] text-[#404040];
>>>>>>> c421940bf863c386846d52a809d7cf002b6b5c50
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
button {
  cursor: pointer;
}
